body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 a {
    text-decoration: none;
}

header {
    background-color: #f4f7f9;
}

.header-up-block {

    margin: 0px;
    padding: 0px;
    background-color: #293449;
}

.logo {
    display: block;
    position: absolute;
    width: 220px;
    border: none;
    text-align: center;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    margin-left: 130px;
    padding-top: 13px;
    padding-bottom: 10px;

    background-color: #ee3643;
}

.search-block {
    display: flex;
    width: 270px;
    min-height: 42px;

    padding: 0px;
    margin: 0px;
    margin-left: 350px;
}

.search {
    display: flex;
    border: none;
    width: 270px;
    min-height: 42;
    font-size: 17px;
    line-height: 18px;

    padding-left: 49px;

    background-color: #293449;
}

.search-all {
    position: relative;
}

.search-icon {
    position: absolute;
    
    width: 17px;
    height: 17px;

    top: 13px;
    right: 236px;

    opacity: 0.3;
}

.search-text {
    position: absolute;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    top: 14px;
    right: 180px;
}

.search:hover {
    outline: none;
    background-color: #212a3a;
}

.search:hover + label svg {
    opacity: 1;
}

.search:focus + label span {
    visibility: hidden;
}

.search:focus {
    outline: none;
    background-color: #ffffff;
}

.search:focus + label path{
    fill: #ee3643;
}

.top-navigation {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.top-navigation {
    list-style: none;
}

.top-navigation a {
    color: #ffffff;
}

.marker,
.basket  {
    position: relative;
}

.marker a,
.basket a {
    display: flex;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 13px;
    background-color: #293449;
}

.marker a {
    padding-left: 44px;
    padding-right: 28px;
}

.basket a {
    padding-left: 50px;
    padding-right: 31px;
}

.marker-icon {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 17px;

    opacity: 0.3;
}

.basket-icon {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 17px;
    height: 17px;

    opacity: 0.3;
}

.marker a:hover,
.basket a:hover {
    background-color: #212a3a;
}

.marker a:hover + svg,
.basket a:hover + svg {
    opacity: 1;
}

.marker a:focus,
.basket a:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.marker a:focus + svg,
.basket a:focus + svg {
    opacity: 0.5;
}

.checkout a {
    display: block;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 22px;

    background-color: #63a63e;
}

.checkout a:hover {
    background-color: #5fbb2d;
}

.checkout a:focus {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.text-title {
    display: flex;
    width: 196px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-align: left;
    color: #ee3643;

    padding: 0px;
    margin: 0px;
    margin-top: 46px;
}

.text-title p {
    margin: 0px;
    padding: 0px;
}

.phone-addres {
    display: flex;
    flex-wrap: wrap;
    width: 270px;

    padding: 0px;
    padding-top: 46px;
    padding-bottom: 44px;

    margin: 0px;
}

.phone {
    position: relative;
}

.icon-phone {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 19px;
    height: 19px;
}

.phone-addres .address {
    padding-left: 10px;
}

.phone-addres p {
    margin: 0px;
    padding: 0px;
}

.phone a {
    display: flex;
    width: 264px;
    height: 39px;
    border: 3px solid #ffffff;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin: 0px;

    background-color: #f1f5f7;
}

.address {
    display: flex;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;

    padding: 0px;
    margin: 0px;
}

.site-enter {
    display: flex;
    position: relative;
    list-style: none;

    padding: 0px;
    margin: 0px;
    margin-top: 46px;
    margin-left: 69px;

}

.enter {
    display: flex;
    width: 121px;
    height: 45px;
    border: none;
    font-size: 21px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    outline: none;

    padding: 0px;
    padding-left: 48px;
    margin: 0px;
    
    background-color: #ffffff;
}

.icon-login {
    position: absolute;
    
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
}

.enter:hover {
    color: #ee3643;
}

.enter:hover + svg path{
    fill: #293449;
}

.enter:focus {
    color: rgba(0, 0, 0, 0.3);
}

.enter:focus + svg {
    opacity: 0.3;
}

.registration {
    display: block;
    width: 150px;
    height: 45px;
    border: none;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    margin-left: 10px;
    outline: none;

    background-color: #ffffff;
}

.registration:hover {
    color: #ee3643;
}

.registration:focus {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.slider-block,
.slider-block-sale {
    list-style: none;
}

.slider-block a,
.slider-block-sale a {
    display: block;

    background-color: #293449;
}

.slider-block-right  b,
.slider-block-left b {
    font-family: 'Cuprum';
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    padding-top: 26px;
    padding-bottom: 75px;
    padding-left: 22px;
}

.promo-button:hover {
    background-color: rgba(0,0,0,0.2);

}

.promo-button:active {
    background-color: rgba(0,0,0,0.3);
}

.slider-block a {
    margin-right: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

.slider-block-sale a {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

main h2 {
    font-family: 'Cuprum';
    font-size: 30px;
    color: #000000;

    padding: 0px;
    margin: 0px;
}

.popular-product {
    width: 1200px;
    margin: 0 auto;
}

.popular-brand {
    width: 1200px;
    margin: 0 auto;
}

.popular-product h2,
.popular-brand h2{
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.popular-product-url {
    display: block;
    width: 253px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding-top: 14px;
    padding-bottom: 14px;

    background-color: #ee3643;
}

.popular-brand-url {
    display: block;
    width: 253px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 13px;

    background-color: #ee3643;
}

.popular-brand ul {
    list-style: none;
}

.company-advantages h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.services {
    font-size: 30px;
    line-height: 30px;
    color: #000000;

    text-transform: uppercase;

    margin-top: 68px;
}

.company-advantages ul {
    list-style: none;
}

.services-menu-link {
    display: flex;
    width: 240px;
    height: 61px;
    border: none;
    outline: none;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    
    box-shadow: inset 0px 1px 0 0 #32425c;
    background-color: #293449;
}

.active {
    display: flex;
    width: 240px;
    height: 61px;
    border: none;
    outline: none;
    font-size: 21px;
    line-height: 30px;
    color: #32425c;
    align-items: center;
    justify-content: center;
    
    box-shadow: inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.services-menu-link:active {
    color: #32425c;

    box-shadow: inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.company-advantages p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.advertising-text,
.delivery-text,
.office-address {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    padding: 0px;
    margin: 0px;
}

.delivery-company {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.delivery-company a {
    color: #000000;
}

.about-company {
    display: flex;
    width: 220px;
    height: 38px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    padding: 0px;
    margin: 0px;

    background-color: #ee3643;
}

.office-address {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.mini-map {
    display: block;
    background: url("../img/map.jpg");
    width: 300px;
    height: 158px;
    cursor: pointer;
}

.write-us {
    display: block;
    width: 300px;
    height: 38px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;

    padding: 0px;
    margin: 0px;

    background-color: #ee3643;
}

.footer-block {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #32425c;
}

.footer-block-up {
    margin: 0px;
    padding: 0px;
}

.logo-down {
    display: block;
    text-align: center;
    width: 220px;
    height: 68px;
    padding: 0px;
    margin-top: -17px;
    margin-left: 130px;
    margin-bottom: -8px;

    border: none;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

    background-color: #ee3643;
}

.logo-down img {
    width: 138px;
    height: 23px;
    max-width: 100%;

    margin-top: 20px;
}

.nav-footer a {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-item a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.nav-footer,
.footer-item {
    list-style: none;
}

.address-footer {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-contacts-box {
    width: 100%;

    background-color: #293449;
}

.footer-contacts {
    display: flex;
    width: 1200px;
    min-height: 107px;
    
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;

    padding: 0px;
    margin: 0px auto;
}

.footer-contacts a {
    color: #ffd180;
}

.social-text, 
.footer-social {
    text-align: center;
}

.footer-social {
    list-style: none;
}

.footer-social a {
    color: #ffffff;
}



/*________________________Сетка___________________________*/




.main-header {
    width: 100%;
    margin-bottom: 59px;
    min-height: 320px;
}

.header-block {
    display: flex;
    margin: auto;
    flex-direction: column;
    min-height: 320px;
}

.header-up-block {
    width: 100%;
    padding: 0px;
}

.header-up-block-wrapper {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
}

.header-mid-block {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0;

    min-height: 158px;
}

.main-navigation {
    display: flex;
    width: 940px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.top-navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.search-all button {
    position: absolute;

    top: 12px;
    left: 499px;
}

.site-enter {
    display: flex;
    padding-right: 130px;
}

.text-title {
    display: inline;
    width: 196px;
    padding-top: 5px;
    margin-left: 183px;
    margin-right: 71px;
}

.site-navigation {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 940px;   
}

.site-navigation li {
    flex-grow: 1;
}

.active-site-navigation {
    background-color: #1d2739;
}

.site-navigation a {
    display: block;
    padding-top: 22px;
    padding-bottom: 26px;
    text-align: center;
}

.slider {
    display: flex;
    width: 940px;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 33px;
    
}

.slider-block {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-left: 130px;
}

.slider-block-right {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 640px;
    height: 409px;
}

.slider-block-right b {
    display: block;
    padding-top: 26px;
    padding-left: 23px;
    padding-bottom: 75px;
    margin-right: 20px;
}

.slider-block-right div, 
.slider-block-left div {
    width: 300px;
    height: 123px;
}

.slider-block-right div {
    margin-right: 20px;
    margin-bottom: 20px;

}

.slider-block-left div {
    margin-left: 0px;
    margin-bottom: 20px;
}

.slider-block-left {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.slider-block-left b {
    display: block;
    padding-top: 26px;
    padding-left: 23px;
    padding-bottom: 75px;
    margin-right: 20px;
}

.promo-button {
    display: flex;
    position: absolute;
    width: 135px;
    height: 38px;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    margin: 0px;
    padding: 0px;

    bottom: 22px;
    left: 25px;

    background-color: rgba(0,0,0,0.1);
}

.materials-slide {
    position: relative;
    background-color: #ffbf47;
}

.materials-slide::before {
    content: "";
    position: absolute;
    bottom: 27px;
    left: 213px;
    background-image: url(../img/icons/icon-1.svg); 
    width: 44px;
    height: 65px;
}

.materials-slide .flag {
    position: absolute;
    left: 240px;

    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.materials-slide .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.instruments-slide {
    position: relative;
    background-color: #3bbce3;
}

.instruments-slide::before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: 197px;
    background-image: url(../img/icons/icon-2.svg); 
    width: 75px;
    height: 61px;
}

.equipment-slide {
    position: relative;
    background-color: #dc91d8;
}

.equipment-slide::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 191px;
    background-image: url(../img/icons/icon-3.svg); 
    width: 78px;
    height: 62px;
}

.sale-slide {
    position: relative;
    background-color: #8ed78f;
}

.sale-slide::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 196px;
    background-image: url(../img/icons/icon-4.svg); 
    width: 59px;
    height: 72px;
}

.delivery-slide {
    position: relative;
    background-color: #ffc047;
}

.delivery-slide::before {
    content: "";
    position: absolute;
    bottom: 28px;
    left: 191px;
    background-image: url(../img/icons/icon-5.svg); 
    width: 78px;
    height: 63px;
}

.slide-image-text {
    position: absolute;
    color: #ffffff;
    left: 24px;
    top: 4px;
}

.slide-image-text h3 {
    font-size: 36px;
    margin-bottom: -0px;
    font-weight: bold;
    text-transform: uppercase;
}

.slide-image-text p {
    font-size: 18px;
}

.open-catalog-url {
    display: flex;
    width: 195px;
    height: 38px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    border-radius: 3px;
    outline: none;

    margin: 0px;
    padding: 0px;

    background-color: #ee3643;
}

.open-catalog-url {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.open-catalog-url:hover {
    background-color: #ca2c37;
}

.open-catalog-url:active {
    background-color: #ba2732;
}

.icon-left-image {
    position: absolute;
    bottom: 112px;
    left: 25px;
    cursor: pointer;
    z-index: 5;

    border: none;
    outline: none;
    background: transparent;
}

.icon-right-image {
    position: absolute;
    bottom: 112px;
    right: 25px;
    cursor: pointer;
    z-index: 4;

    border: none;
    outline: none;
    background: transparent;
}

.slide-controls {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 220px;
    left: 295px;

    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%; 
}

.slide-controls-next {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 220px;
    left: 317px;

    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%; 
}

.what-slide {
    background-color: #ee3643;
}

.popular-product-menu {
    position: relative;
    margin-left: 130px;
    width: 940px;
}

.popular-product h2 {
    display: block;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;

    background-color: #f9f5f0;
}

.popular-product-url {
    position: absolute;
    top: 25px;
    right: 24px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 130px;

    padding: 0px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;
}

.catalog-list li:last-child {
    margin-right: 0px;
}

.catalog-item img {
    width: 218px;
    height: 168px;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  position: relative;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.catalog-item .actions .buy::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;
    background-image: url(../img/icons/icon-cart.svg);
    width: 15px;
    height: 15px;

    opacity: 0.3;
}

.catalog-item .actions .bookmark:hover {
    border-color: #32425c;
}

.catalog-item .actions .bookmark:focus {
    opacity: 0.3;
}


.catalog-item .actions .buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.catalog-item .actions .buy:hover ~ svg {
    opacity: 1;  
}

.catalog-item .actions .buy:active {
    background-color: #518534;
    border: 3px solid #518534;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.popular-brand-menu {
    position: relative;
    width: 940px;

    padding: 0px;
    margin-left: 130px;
    margin-bottom: 21px;
    
}

.popular-brand h2 {
    display: block;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 30px;
    margin: 0;

    background-color: #f9f5f0;
}

.popular-brand-url {
    position: absolute;
    top: 25px;
    right: 24px;
}

.brand-icon {
    display: flex;
    flex-wrap: wrap;
    width: 970px;

    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 65px;
    padding: 0px;
}

.brand-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.brand-icon li:nth-child(4n+4) {
    margin-right: 0px;
}

.brand-icon li {
    display: flex;
    width: 218px;
    height: 145px;
    border: solid 1px #eaeaea;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.brand-icon li:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-icon li:active {
    opacity: 30%;
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}



/*_________________________Сервисы___________________________*/



.company-advantages-box {
    width: 100%;

    background-color: #f4f7f9;
}

.company-advantages {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    min-height: 522px;

    padding: 0px;
    margin: 0px auto;

    
}

.services {
    padding: 0px;
    margin: 0px;
    margin-top: 63px;
    margin-left: 130px;
}

.services-text {
    display: flex;
    width: 398px;
    
    padding: 0px;
    margin: 0px;
    margin-left: 130px;
    margin-top: 27px;
}

.services-block {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
    margin-right: 131px;
}

.services-menu {
    display: flex;
    flex-direction: column;
    
    padding: 0px;

    margin-top: 72px;
    margin-bottom: 99px;
    margin-left: 130px;
}

.services-menu::before {
    content: "";
    position: absolute;
    top: 194px;
    left: 360px;

    background-image: url(../img/shadow.png);
    width: 10px;
    height: 279px;
}

.services-content {
    display: flex;

    padding: 0px;
    margin: 0px;
    margin-top: 72px;
    margin-left: 80px;
}

.services-content #delivery {
    display: flex;
    width: 619px;
    background-image: url(../img/delivery.png);
    background-size: 468px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.heading-delivery {
    padding: 0px;
    margin: 0px;
    margin-bottom: 34px;
}

.heading-delivery-text {
    width: 275px;

    padding: 0px;
    margin: 0px;
}

.services-content #guarantee {
    display: none;
    width: 619px;
    background-image: url(../img/guarantee.png);
    background-size: 389px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.heading-warranty {
    padding: 0px;
    margin: 0px;
    margin-bottom: 34px;
}

.warranty-text {
    width: 379px;

    padding: 0px;
    margin: 0px;
}

.services-content #credit {
    display: none;
    width: 619px;
    background-image: url(../img/credit.png);
    background-size: 465px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.heading-credit {
    padding: 0px;
    margin: 0px;
    margin-bottom: 34px;
}

.credit-text {
    width: 279px;

    padding: 0px;
    margin: 0px;
}

.company-advantages .credit-buttom {
    display: flex;
    width: 195px;
    height: 38px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    margin: 0px;
    margin-top: 28px;
    padding: 0px;
    background-color: #ff5357;

    top: 370px;
    left: 450px;
}

/*________Доставка-Контакты_____*/


.delivery-contacts {
    display: flex;
    position: relative;
    width: 1200px;
    height: 536px;
    margin: 0px auto;
}

.delivery-contacts h2 {
    margin-bottom: 32px;
}

.delivery-contacts p {
    margin-top: 0px;
    padding: 0px;
}

.delivery-block {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    min-height: 368px;

    padding: 0px;
    margin-top: 82px;
    margin-bottom: 86px;
    margin-left: 130px;
}

.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    align-content: space-between;

    margin-top: 82px;
    margin-right: 130px;
    margin-bottom: 86px;
    margin-left: 122px;
}

.advertising-text {
    display: flex;
    width: 519px;
    min-height: 37px;

    padding: 0px;
    margin: 0px;
}

.delivery {
    display: flex;
    flex-direction: column;
    width: 386px;
    min-height: 161px;

    padding: 0px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 22px;
}

.delivery-text {
    display: flex;

    padding: 0px;
    margin: 0px;
    margin-bottom: 22px;
}

.delivery-company {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
}

.delivery-company li {
    position: relative;
    margin-bottom: 19px;
}

.delivery-company li:last-child {
    margin-bottom: 0px;
}

.delivery-company a {
    padding-left: 36px;
}

.delivery-company a::before {
    content: "";

    position: absolute;
    top: 9px;
    left: -0px;

    width: 25px;
    height: 2px;
  
    border-radius: 1px;
  
    background-color: #ee3643;

}

.office-address {
    display: flex;
    width: 179px;

    padding: 0px;
    margin-top: 0px;

}

.mini-map {
    display: flex;
    margin-top: 36px;
    margin-bottom: 22px;
}



/*___________________Fotter__________________*/




.main-footer {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.footer-block {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin: 0px;
}

.footer-block-up {
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    height: 193px;

    margin: 0px auto;
}

.address-footer {
    width: 322px;
    height: 40px;

    margin-left: 130px;
    margin-right: 0px;
    padding: 0px;
}

.footer-nav-block {
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin: 0px;
}

.nav-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0;
    margin-top: 42px;
    padding: 0;
    text-align: right;
}

.nav-footer li {
    padding: 0px;

    margin-right: 60px;
    margin-left: 0px;
}

.nav-footer li:last-child {
    margin-right: 130px;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0;
    margin-top: 29px;
    padding: 0;
    text-align: right;
}

.footer-item li {
    padding: 0px;

    margin-right: 60px;
    margin-left: 0px;
}

.footer-item li:last-child {
    margin-right: 130px;
}

.footer-nav-block a:hover,
.feedback a:hover,
.work-out a:hover {
    text-decoration: underline;
}

.footer-nav-block a:active {
    text-decoration: none;
    opacity: 0.5;
}

.feedback a:active,
.work-out a:active {
    text-decoration: none;
    color: #ee3643;
}

.feedback,
.work-out {
    display: flex;

    padding: 0px;
}

.feedback {
    width: 135px;
}

.work-out {
    width: 96px;
}

.footer-bottom {
    display: flex;

    width: 135px;

    padding: 0px;
    margin-top: 35px;
    margin-left: 161px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
    margin-top: 0px;

}

.text-copyright {
    display: inline;
    
    width: 228px;
    /*height: 33px;*/
    margin-top: 39px;
    margin-left: 131px;
}

.feedback {
    display: inline;

    width: 135px;
    height: 32px;
    margin-top: 40px;
    margin-left: 119px;
}

.work-out {
    display: inline;

    width: 96px;
    height: 32px;
    margin-top: 40px;
    margin-left: 53px;
}

.icon-vk,
.icon-fb,
.icon-insta {
    display: flex;

    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;

    padding: 0px;
    margin-left: 3px;

    border-radius: 50%;
    background-color: #212a3a;
}

.icon-vk:hover,
.icon-fb:hover,
.icon-insta:hover {
    background-color: #ee3643;
}

.icon-vk:active,
.icon-fb:active,
.icon-insta:active {
    background-color: #ee3643;
}



/*_________Формы___________*/


.close-slide {
    display: none;
}

.open-slide {
    display: flex;
}

.modal {
    position: fixed;

    display: none;

    color: #000000;
    
    background-color: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-letter {
    bottom: 50%;
    left: 50%;

    width: 620px;
    padding: 0px;
    padding-top: 24px;
    margin: 0px;
    margin-left: -310px;
    margin-bottom: -215px;
    border-top: 7px solid #ee3643;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 21px;
    height: 21px;

    text-indent:-9999px;
  
    border: 0;
    outline: none;
  
    cursor: pointer;

    background: transparent;
  }

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: -3px;

  width: 27px;
  height: 4px;

  border-radius: 1px;

  background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
  }
  
.modal-close::after {
    transform: rotate(-45deg);
  }

.modal-text {
    display: flex;
    max-width: 100px;
    font-size: 18px; 
    color: #000000;

    margin: 0px;
    margin-bottom: 13px;
    padding: 0px;

}

.write-form p:first-child {
    margin-left: 80px;
    margin-right: 20px;
}

.message-write {
    margin-left: 80px;
}

.write-form {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
    margin-top: 22px;
}

.write-form input,
.write-form textarea {
    width: 220px;
    min-height: 38px;

    border: solid 2px #dee3e4;
    border-radius: 3px;
}

.write-form input[type="text"],
.write-form textarea[id="message-field"] {
  font-family: PTSans;
  font-size: 13px;
  color: #a9a9a9;
  box-sizing: border-box;

  padding-left: 16px;
  margin: 0px;
}

#message {
    width: 438px;
    min-height: 114px;

    margin: 0px;
    padding-top: 13px;
    padding-left: 16px;
}

.send-box {
    display: flex;
    width: 100%;
    height: 112px;

    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;

    margin: 0px;
    margin-top: 15px;
} 

.send {
    display: flex;
    width: 460px;
    height: 38px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    background-color: #ee3643;
}

.modal-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

.open-map {
    display: flex;
    top: 50%;
    left: 50%;

    margin-top: -233px;
    margin-left: -470px;
}




/*__________________Catalog CSS*___________________*/


.catalog-header {
    margin-bottom: 0px;
}

.basket-full a{
    padding-right: 25px;

    background-color: #ee3643;
}

.enter-form {
    list-style: none;
    position: relative;
    display: flex;
    width: 299px;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
    margin-top: 46px;
    margin-bottom: 43px;
    margin-left: 50px;
}

.input {
    display: flex;
    width: 299px;
    height: 45px;
    border: none;
    font-size: 21px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    outline: none;

    padding: 0px;
    padding-left: 41px;
    margin: 0px;

    background-color: #ffffff;
}

.input:focus {
    color: rgba(0, 0, 0, 0.3);
}

.icon-user {
    position: absolute;
    width: 20px;
    height: 18px;

    top: 13px;
    left: 13px;
}

.icon-logout {
    position: absolute;
    width: 20px;
    height: 17px;

    top: 14px;
    right: 10px;
}

.input:hover ~ svg path {
    fill: #212a3a;
}

.input:focus ~ svg path {
    opacity: 0.3;
}

.my-orders,
.private-office {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;

    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.my-orders {
    margin-right: 32px;
    margin-left: 17px;
}

.my-orders::after {
    content: "";

    position: absolute;
    bottom: 8px;
    left: 107px;

    width: 5px;
    height: 5px;

    border-radius: 50%;

    background-color: #32425c;
}

.enter-form a:hover {
    color: #ee3643;
}

.enter-form a:focus {
    color: rgba(50, 66, 92, 0.3);
}

.main-content {
    width: 1200px;

    margin: auto;
}

.catalog-navigation {
    display: flex;
    min-height: 59px;

    padding: 0px;
    margin: 0px;
    margin-left: 130px;

    background-color: #ffffff;
}

.catalog-modals {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    padding: 0px;
    margin: 0px;
    margin-top: 25px;
}

.catalog-modals a {
    color: #000000;
    
    padding: 0px;
    margin: 0px;
    margin-right: 41px;
}

.catalog-modals li {
    position: relative;
}

.catalog-modals svg {
    position: absolute;

    top: 3px;
    right: 16px;
}

.catalog-heading {
    display: flex;
    width: 910px;
    height: 89px;
    border: none;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    align-items: center;

    padding: 0px;
    padding-left: 30px;
    margin: 0px;
    margin-left: 130px;

    background-color: #f2f6f8;
}

.catalog-main {
    display: flex;
    width: 940px;

    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 130px; 
}

.form-find {
    display: flex;
    flex-direction: column;
    width: 220px;

    padding: 0px;
    margin: 0px;      
}

.filter-head {
    display: flex;
    width: 202px;
    min-height: 38px;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 13px;
    text-transform: uppercase;

    padding: 0px;
    padding-left: 18px;
    margin: 0px;
    margin-bottom: 20px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-price {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter {
    padding: 0px;
    margin: 0px;
}

.filter fieldset {
    padding: 0px;
    margin: 0px;

    border: none;
}

.filter legend {
    padding: 0px;
    margin: 0px;
}

.filter legend:first-child {
    margin-bottom: 21px;
}

.catalog-line {
    width: 220px;
    height: 1px;

    margin-top: 25px;
    margin-bottom: 25px;

    background-color: #d7dcde;
}

.filter legend {
    font-family: 'PT Sans';
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
}

.range-filter {
    width: 220px;

    padding: 0px;
    margin: 0px;
}

.range-controls {
    position: relative;
    height: 41px;

    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}
  
.range-controls .toggle-max {
    left: 160px;
  
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    position: relative;
    width: 50%;
}

.price-controls input {
    width: 95px;
    padding: 8px 0px;
    font-family: 'PT Sans';
    font-size: 17px;
    text-align: center;
    color: #000000;

    border: none;
    border-radius: 5px;
    background: #f7f3ec;

    outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.max-price {
    text-align: right;
}

.min-price::after {
    content: "";
    position: absolute;

    top: 19px;
    right: -5px;
    
    width: 10px;
    height: 1px;

    background-color: #444444;
}

.filter ul {
    list-style: none;
    font-size: 15px;

    padding: 0px;
    margin: 0px;
}

.filter-option {
    margin-bottom: 19px;
    margin-left: 35px;

    text-transform: uppercase;
}

.filter-option:last-child {
    margin-bottom: 0px;
}

.filter-option label {
    position: relative;

    display: block;
  
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
  
    width: 23px;
    height: 23px;

    left: -35px;
    top: -6px;

    background-image: url(../img/icons/checkbox-off.svg);
  }

.filter-input-radio + label::before {
    content: "";
    position: absolute;
  
    width: 25px;
    height: 25px;

    left: -35px;
    top: -5px;

    background-image: url(../img/icons/radio-off.svg);
  }

.filter-input-checkbox:checked + label::before {
      background-image: url(../img/icons/checkbox-on.svg);
  }

.filter-input-radio:checked + label::before {
    background-image: url(../img/icons/radio-on.svg);
}

.show {
    display: inline-block;
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-align: center;

    margin-top: 83px;

    background-color: #ffffff;
}

.catalog-item-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;

    padding: 0px;
    margin: 0px;
    margin-left: 20px; 
}

.catalog-item-page ul {
    list-style: none;
}

.sort-item {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    min-height: 38px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-item p {
    display: flex;
    font-family: 'PT Sans';
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;

    padding: 0px;
    margin: 0px;
    margin-left: 19px;
}

.sort-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 0px;
    margin: 0px;
}

.by-price {
    display: flex;
    font-family: 'PT Sans';
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;

    padding: 0px;
    margin: 0px;
    margin-left: 139px;

    border: none;
    border-bottom: 1px dotted #ee3643;
    outline: none;
    background: transparent;
    opacity: 18%;
}

.by-type {
    display: flex;
    font-family: 'PT Sans';
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;

    padding: 0px;
    margin: 0px;
    margin-left: 71px;

    border: none;
    border-bottom: 1px dotted #ee3643;
    outline: none;
    background: transparent;
    opacity: 30%;
}

.by-functional {
    display: flex;
    font-family: 'PT Sans';
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;

    padding: 0px;
    margin: 0px;
    margin-left: 65px;

    border: none;
    border-bottom: 1px dotted #ee3643;
    outline: none;
    background: transparent;
    opacity: 30%;
}

.by-increase {
    display: flex;
    width: 11px;
    height: 10px;
    cursor: pointer;
    
    font-size: 0px;

    padding: 0px;
    margin: 0px;
    margin-left: 46px;

    border: none;
    outline: none;
    background: transparent;
    background-image: url(../img/icons/icon-up-dir.svg);
    opacity: 30%;
}

.by-reduction {
    display: flex;
    width: 11px;
    height: 10px;
    cursor: pointer;
    
    font-size: 0px;

    padding: 0px;
    margin: 0px;
    margin-left: 21px;

    border: none;
    outline: none;
    background: transparent;
    background-image: url(../img/icons/icon-down-dir.svg);
    opacity: 30%;
}

.act {
    opacity: 100%;
    color: #ee3643;

    border-bottom: none;
}

.by-price:hover,
.by-type:hover,
.by-functional:hover {
    opacity: 100%;

    border-bottom: 1px solid #ee3643;
}

.by-price:active,
.by-type:active,
.by-functional:active {
    opacity: 100%;
    color: #ee3643;

    border-bottom: none;
}

.by-increase:hover,
.by-reduction:hover {
    opacity: 100%;
}

.by-increase:active,
.by-reduction:active {
    fill: #ee3643;
}

.catalog-list {
    list-style: none;
}

.catalog-page {
    width: 700px;
    padding: 0px;
    margin: 0px;
}

.catalog-item {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
}

.catalog {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-right: 20px;
}

.catalog:nth-child(3n+3) {
    margin-right: 0px;
}

.catalog-item a {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  
    color: #999;
    text-decoration: line-through;
}

.catalog-item h3 {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 21px;
    padding: 10px 30px;
  
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.price::after {
    content: "";
  
    position: absolute;
    top: 0;
    right: -20px;
  
    width: 0;
    height: 0;
  
    border: 20px solid white;
    border-left-color: #ee3643;
}

.switching-pages {
    display: flex;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
    margin-top: 52px;
}

.switching-item {
    margin-right: 10px;
}

.switching-item a {
    display: flex;
    width: 38px;
    height: 38px;
    font-family: 'PT Sans';
    align-items: center;
    justify-content: center;
    
    font-size: 13px;
    color: #000000;

    padding: 0px;
    margin: 0px;

    border: solid 1px #e5e5e5;
    border-radius: 3px;
}

.switching-item-action a {
    color: #ffffff;
    background-color: #ee3643;
}

.switching-item-next a {
    width: 140px;
    text-transform: uppercase;

}

.switching-item a:hover {
    border: solid 1px #bdc6ca;
}

.switching-item a:active {
    border: solid 1px #ee3643;
}

.saying-perforator-box {
    width: 100%;

    background-color: #f4f7f9;
}

.saying-perforator {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 261px;

    padding: 0px;
    margin: 0px auto;
    margin-top: 60px;
}

.saying-perforator h2 {
    font-size: 30px;
    text-transform: uppercase;

    padding: 0px;
    margin-top: 67px;
    margin-left: 130px;
}

.saying-perforator p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;

    padding: 0px;
    margin: 0px;
    margin-top: 34px;
    margin-left: 130px;
}

.slide-image-block {
    display: flex;
    position: relative;

    top: 0px;
}

.slide1-image-block {
    display: none;

    position: relative;
    top: 0px;
}

.product-in-basket {
    display: flex;
    display: none;
    flex-wrap: wrap;
    position: relative;
    width: 620px;

    color: #000000;
    
    background-color: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    border-top: 7px solid #ee3643;
}

.product-in-basket span {
    font-size: 30px;
    padding: 0px;
    margin-top: 68px;
    margin-bottom: 68px;
    margin-left: 179px;
}

.product-in-basket span::before {
    content: "";
    position: absolute;

    width: 66px;
    height: 66px;

    top: 41px;
    left: 81px;

    background-image: url(../img/icons/modal-check.svg);
}

.product-in-basket-button {
    display: flex;
    width: 100%;
    min-height: 112px;
    align-items: center;

    padding: 0px;
    margin: 0px;

    background-color: #f1f1f1;
}

.product-in-basket-button a {
    display: flex;
    width: 220px;
    height: 38px;

    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    margin: 0px;
    margin-left: 80px;
    padding: 0px;

    background-color: #ee3643;
}

.product-in-basket-button button {
    display: flex;
    width: 220px;
    height: 38px;

    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;

    margin: 0px;
    margin-left: 20px;
    padding: 0px;

    background-color: #ffffff;
}


.modal-basket {
    display: flex;
    position: fixed;
    z-index: 100;

    top: 50%;
    left: 50%;

    left: 375px;
    top: 250px;
}